// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List

// Define 2 variables font stack, the first one is the default, the other one is for custom fonts used 
$text-font-stack-loaded: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


//// In use font
//// @type list
$font-title: 'Abril Fatface', 'Comic Sans MS', cursive, sans-serif;
$font-block: 'Montserrat', 'Arial', Helvetica, sans-serif;
$font-monospace: 'Cutive Mono', 'Courier New', Courier, monospace;
$font-paragraph: 'Playfair Display', 'Times New Roman', Times, serif;






/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


//// In Used Colors

/// White
/// @type Color
$white: rgb(255, 255, 255) !default;

//// Dark Purple
//// @type Color
$dark-purple: #23223F;

//// Green
//// @type color
$mute-green: #BDD6D3;

//// Yellow
//// @type color
$bright-yellow: #FFC24C;

//// Coral
//// @type color
$coral: #FF9191;

//// Navy
//// @type color
$navy: #332EA6;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
 