/**
 * Basic typography style for copy text
 */
body{
  color: $text-color;
  font: normal 125% / 1.4 $font-block;
}

/**
 * Make different classes, specially to change font
 */

.loaded{
  body{
    font: normal 125% / 1.4 $font-block;
  }
}

h1 {
	font: 400 7rem $font-title;

	@media (max-width: 768px) {
		font-size: 5rem;
	}

	@media (max-width: 400px) {
		font-size: 4rem;
	}
}